services:
  postgres: # Must match your database.json host: "postgres"
    image: postgres:latest
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d user_service"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: ${password}
      POSTGRES_USER: ${user}
      POSTGRES_DB: ${database} # This creates the DB on first startup
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data:
